.toasterContainer{
    width: 250px;
    height: 70px;
    border-radius: 5px;
    border: 1px transparent solid;
    color: white;
    right: 5px;
    bottom: 5px;
    position: fixed;
    font-weight: bold;
    font-size: 19px;
    background-color: rgb(235, 57, 57);
}
